@font-face {
    font-family: 'DrukWideCyr-Bold';
    src: url(../fonts/DrukWideCyr-Bold.woff2),
    url(../fonts/DrukWideCyr-Bold.woff);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DrukWideCyr-Medium';
    src: url(../fonts/DrukWideCyr-Medium.woff2),
    url(../fonts/DrukWideCyr-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url(../fonts/Inter-SemiBold.woff2),
    url(../fonts/Inter-SemiBold.woff);
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url(../fonts/Inter-Medium.woff2),
    url(../fonts/Inter-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.woff2),
    url(../fonts/Inter-Regular.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}