.faq {
    position: relative;
    padding-bottom: 75px;
    &__title {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        font-family: 'DrukWideCyr-Medium';
        text-transform: uppercase;
        line-height: 45px;
        text-align: center;
    }
    &__wrap {
        margin-top: 30px;
        text-align: center;
        &__list {
            &__item {
                width: 780px;
                border-top: 1px solid #fff;
                margin: 0 auto;
                &:hover .faq__wrap__list__item__header__title {
                    color: #F79B38;
                }
                &:last-child {
                    border-bottom: 1px solid #fff;
                }
                &__header {
                    padding-top: 28px;
                    padding-bottom: 8px;
                    padding-left: 15px;
                    padding-right: 15px;
                    display: flex;
                    justify-content: space-between;
                    width: 780px;
                    border: none;
                    background: transparent;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.5s ease;
                    &__title {
                        font-size: 18px;
                        font-weight: 500;
                        color: #fff;
                        font-family: 'DrukWideCyr-Medium';
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        transition: 0.5s ease;
                    }
                    &__control {
                        width: 34px;
                        height: 35px;
                        transition: 0.5s all;
                    }
                }
                &__content {
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                    font-family: 'Inter-Medium';
                    width: 609px;
                    text-align: left;
                    padding-bottom: 21px;
                    padding-left: 15px;
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    will-change: max-height;
                    transition: 0.3s ease-in;
                }
                
            }
        }
    }
}

.open .faq__wrap__list__item__content {
    opacity: 1;
} 

.open .faq__wrap__list__item__header__control {
    transform:rotate(45deg);
}

.open .faq__wrap__list__item__header {
    padding-bottom: 15px;
}

.open .faq__wrap__list__item__header__title {
    color: #F79B38;
}